<% var stylesheet = "app" %>
<% include ../_header %>

<section id="event" class="container-view event festif light-grey">
<div class="row container">
  <div class="large-12 columns">
    <div class="row head">
      <div class="large-3 columns centered">
        <img class="profil-pic-large" src="images/profil-pic.jpg">
      </div>
      <div class="large-9 columns">
        <h1>Shable lancement</h1>
        <h2>par <span class="author">Godefroy</span></h2>
        <a href="#1" class="statut"><span class="icon-checkmark"></span>Vous participez</a>
      </div>
    </div>
    <div class="row event-param text-center border-bottom">
      <div class="large-3 columns type">
        <p><span class="icon-drink2"></span></p>
        <p>Soirée</p>
      </div>
      <div class="large-3 columns time">          
        <p><span class="icon-time"></span></p>
        <p>Vendredi 10 Octobre - Soirée</p>
      </div>
      <div class="large-3 columns visibility">
        <p><span class="icon-unlocked"></span></p>
        <p>Public</p>
      </div>
      <div class="large-3 columns place">
        <p><span class="icon-location"></span></p>
        <p>97 rue saint Lazare, 75009 Paris</p>
      </div>
    </div>
    <div class="row margin-top border-bottom padding-bottom">
      <div class="large-8 columns">
        <h3>A propos de cette activité</h3>
        <p>Shable est la première application qui vous permet de retrouver vos amis ou rencontrer de nouvelles personnes où que vous soyez autour de vos activités.<br>
        Venez partager un moment de conviavilité et découvrir l'ensemble des possibilités de l'application lors de notre soirée de lancement</p>
      </div>
      <div class="large-4 columns text-center">
        <a href="#like" class="like">
          <span class="icon-heart2"></span>
          <p>Vous aimez cette activité</p>
        </a>
        <div class="social-share">
          <p>Partager :</p>
            <ul class="inline-menu">
              <li><a href="//www.facebook.com/Shable" class="icon-container" target="_blank">
                <i class="icon-facebook"></i>
              </a></li>
              <li><a href="https://plus.google.com/+shable" class="icon-container" target="_blank">
                <i class="icon-googleplus"></i>
              </a></li>
              <li><a href="//twitter.com/Shable" class="icon-container" target="_blank">
                <i class="icon-twitter"></i>
              </a></li>
            </ul>
          </div>
        </div>
    </div>
    <div class="row margin-top padding-bottom border-bottom participants">
      <div class="large-2 columns">
        <h3>Participants</h3>
        <p class="text-center"><span class="icon-group"></span></p>
      </div>
      <div class="large-10 columns">
        <ul class="inline-menu">
        <li><img class="profil-pic" src="images/sightseeing_2x1.jpg"></li>
        <li><img class="profil-pic" src="images/profil-pic-2.jpg"></li>
        <li><img class="profil-pic" src="images/profil-pic-3.jpg"></li>
        <li><img class="profil-pic" src="images/profil-pic.jpg"></li>
        <li><img class="profil-pic" src="images/sightseeing_2x1.jpg"></li>
        </ul>
      </div>
    </div>
    <div class="row margin-top padding-bottom location">
      <div class="large-4 columns">
        <h3>Lieu de l'activité</h3>
        <h4>Nom :</h4>
        <p>Shable office</p>
        <h4>Adresse :</h4>
        <ul class="address">
          <li>97 rue Saint Lazare</li>
          <li>75009</li>
          <li>Paris</li>
        </ul>
      </div>
      <div class="large-8 columns">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.084807924968!2d2.3287536999999983!3d48.8756597999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e35e6eaafdd%3A0xc634124e1b7f451f!2s97+Rue+Saint-Lazare%2C+75009+Paris!5e0!3m2!1sfr!2sfr!4v1413287971124" width="600" height="450" frameborder="0" style="border:0"></iframe>
      </div>
    </div>
  </div>
</div>
</section>

<% include ../_footer %>