<% var stylesheet = "app" %>
<% include ../_header %>

<section id="profil" class="container-view profil light-grey">
  <div class="row container">
    <div class="large-12 columns">
      <div class="row head">
        <div class="large-6 columns">
          <img class="profil-pic-large" src="images/profil-pic.jpg">
        </div>
        <div class="large-6 columns">
          <h1>Godefroy Split</h1>
          <h2>participe à <span class="profil-activity">5 activités</span></h2>
        </div>
      </div>
      <div class="row margin-top">
      <div class="large-12 columns">
        <div class="row">
          <div class="large-8 columns large-centered text-center">
            <h3>Les prochaines activités auxquelles vous participez</h3>
          </div>
        </div>
        <div class="row margin-top border-bottom padding-bottom">
          <div class="large-12 columns">
          <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
            <li class="vignette festif">
            <a href="/event">
              <div class="large-12 columns border">
                <div class="row collapse">
                  <div class="large-3 columns centered">
                    <img class="profil-pic" src="images/sightseeing_2x1.jpg">
                  </div>
                  <div class="large-9 columns">
                    <h1>Shable lancement</h1>
                    <h2>par <span class="author">Godefroy</span></h2>
                    <p class="statut"><span class="icon-checkmark"></span>Vous participez</p>
                  </div>
                </div>
                <div class="row">
                  <div class="large-4 columns type">
                    <p><span class="icon-drink2"></span>Festif</p>
                  </div>
                  <div class="large-4 columns time">
                    <p><span class="icon-time"></span>Soirée</p>
                  </div>
                  <div class="large-4 columns visibility">
                    <p><span class="icon-unlocked"></span>Public</p>
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns place">
                    <p><span class="icon-location"></span>97 rue saint Lazare</p>
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns community">
                    <ul class="inline-menu">
                    <li><span class="icon-group"></span></li>
                    <li><img class="profil-pic-small" src="images/sightseeing_2x1.jpg"></li>
                    <li><img class="profil-pic-small" src="images/sightseeing_2x1.jpg"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </a>
            </li>
            <li class="vignette sport">
            <a href="/event">
              <div class="large-12 columns border">
                <div class="row collapse">
                  <div class="large-3 columns centered">
                    <img class="profil-pic" src="images/sightseeing_2x1.jpg">
                  </div>
                  <div class="large-9 columns">
                    <h1>Footing Versailles</h1>
                    <h2>par <span class="author">Thibault</span></h2>
                    <p class="statut"><span class="icon-plus"></span>Participez ?</p>
                  </div>
                </div>
                <div class="row">
                  <div class="large-4 columns type">
                    <p><span class="icon-soccer"></span>Footing</p>
                  </div>
                  <div class="large-4 columns time">
                    <p><span class="icon-time"></span>3j matin</p>
                  </div>
                  <div class="large-4 columns visibility">
                    <p><span class="icon-locked"></span>Privé</p>
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns place">
                    <p><span class="icon-location"></span>Parc de Versailles</p>
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns community">
                    <ul class="inline-menu">
                    <li><span class="icon-group"></span></li>
                    <li><img class="profil-pic-small" src="images/sightseeing_2x1.jpg"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </a>
            </li>
            <li class="vignette culture">
            <a href="/event">
              <div class="large-12 columns border">
                <div class="row collapse">
                  <div class="large-3 columns centered">
                    <img class="profil-pic" src="images/sightseeing_2x1.jpg">
                  </div>
                  <div class="large-9 columns">
                    <h1>Ciné : Gravity</h1>
                    <h2>par <span class="author">Vincent</span></h2>
                    <p class="statut"><span class="icon-checkmark"></span>Vous participez</p>
                  </div>
                </div>
                <div class="row">
                  <div class="large-4 columns type">
                    <p><span class="icon-camera"></span>Cinéma</p>
                  </div>
                  <div class="large-4 columns time">
                    <p><span class="icon-time"></span>Soirée</p>
                  </div>
                  <div class="large-4 columns visibility">
                    <p><span class="icon-unlocked"></span>Amis</p>
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns place">
                    <p><span class="icon-location"></span>UGC ciné cité La Défense</p>
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns community">
                    <ul class="inline-menu">
                    <li><span class="icon-group"></span></li>
                    <li><img class="profil-pic-small" src="images/sightseeing_2x1.jpg"></li>
                    <li><img class="profil-pic-small" src="images/sightseeing_2x1.jpg"></li>
                    <li><img class="profil-pic-small" src="images/sightseeing_2x1.jpg"></li>
                    <li><img class="profil-pic-small" src="images/sightseeing_2x1.jpg"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </a>
            </li>
          </ul>
          </div>
        </div>
        <div class="row margin-top">
          <div class="large-8 columns large-centered text-center">
            <h3>Découvrez les activités de vos amis</h3>
          </div>
        </div>
        <div class="row margin-top">
          <div class="large-12 columns">
          <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
            <li class="vignette festif">
            <a href="/event">
              <div class="large-12 columns border">
                <div class="row collapse">
                  <div class="large-3 columns centered">
                    <img class="profil-pic" src="images/sightseeing_2x1.jpg">
                  </div>
                  <div class="large-9 columns">
                    <h1>Shable lancement</h1>
                    <h2>par <span class="author">Godefroy</span></h2>
                    <p class="statut"><span class="icon-checkmark"></span>Vous participez</p>
                  </div>
                </div>
                <div class="row">
                  <div class="large-4 columns type">
                    <p><span class="icon-drink2"></span>Festif</p>
                  </div>
                  <div class="large-4 columns time">
                    <p><span class="icon-time"></span>Soirée</p>
                  </div>
                  <div class="large-4 columns visibility">
                    <p><span class="icon-unlocked"></span>Public</p>
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns place">
                    <p><span class="icon-location"></span>97 rue saint Lazare</p>
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns community">
                    <ul class="inline-menu">
                    <li><span class="icon-group"></span></li>
                    <li><img class="profil-pic-small" src="images/sightseeing_2x1.jpg"></li>
                    <li><img class="profil-pic-small" src="images/sightseeing_2x1.jpg"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </a>
            </li>
            <li class="vignette sport">
            <a href="/event">
              <div class="large-12 columns border">
                <div class="row collapse">
                  <div class="large-3 columns centered">
                    <img class="profil-pic" src="images/sightseeing_2x1.jpg">
                  </div>
                  <div class="large-9 columns">
                    <h1>Footing Versailles</h1>
                    <h2>par <span class="author">Thibault</span></h2>
                    <p class="statut"><span class="icon-plus"></span>Participez ?</p>
                  </div>
                </div>
                <div class="row">
                  <div class="large-4 columns type">
                    <p><span class="icon-soccer"></span>Footing</p>
                  </div>
                  <div class="large-4 columns time">
                    <p><span class="icon-time"></span>3j matin</p>
                  </div>
                  <div class="large-4 columns visibility">
                    <p><span class="icon-locked"></span>Privé</p>
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns place">
                    <p><span class="icon-location"></span>Parc de Versailles</p>
                  </div>
                </div>
                <div class="row">
                  <div class="large-12 columns community">
                    <ul class="inline-menu">
                    <li><span class="icon-group"></span></li>
                    <li><img class="profil-pic-small" src="images/sightseeing_2x1.jpg"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </a>
            </li>
          </ul>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  </section>

<% include ../_footer %>